<template>
            <div class='musicPost'>
                <h4>{{ title }}</h4>
                <span>{{name}}</span>
                <br><audio controls>
                    <source src="audio/"{{name}}"/"{{ link }} type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    Like : <a href="" @click.prevent='likeIt'>
                        <small>{{ likeCount }}</small>
                        <i class="fa fa-thumbs-up likebutton" aria-hidden="true"></i>
                        
                        </a>

            </div>
</template>

<script>
    export default {
        data(){
            return{
                liked: true,
                musics: {},
                likeCount: 0
            }
        },
        created(){
            this.likeCount = this.likes;
        },
        mounted() {
           this.$http.get('/musiclist').then(function (data) {
                this.musics = data.body
                console.log(data.body);
                });
                
        },
        props: [
            'title',
            'link',
            'name',
            'mid',
            'login',
            'likes'
        ],
        methods:{
            likeIt(){
                if(this.login){
                this.$http.post('/like',{
                id: this.mid
            }).then(function (response) {
                if(response.body == 'deleted'){
                    
                    this.likeCount--;
                }
                else{
                    this.liked = true;
                    this.likeCount++;

                }
                console.log(response.body);
                });
                }
                else{
                    alert('Please Login!!');
                }
                
            }
        }
    }
</script>
